.catalog-page {
    .homeCategory-section {
        margin-top: 18px;
        .section__title {
            button {
                display: none;
            }
        }
        .section__title-btn {
            display: none;
        }
    }
}