@use '../abstracts' as *;

.supHeader {
    padding-top: 12px;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            gap: 27px;

            a {
                font-family: Manrope600;
                font-size: 14px;
                color: $colorBlack;
                opacity: 0.5;
                transition: .2s;

            }

            a.active {
                opacity: 1;
            }
        }

        div {
            display: flex;
            align-items: center;
            gap: 24px;

            a {
                font-family: Manrope600;
                font-size: 14px;
                color: $colorBlack;
            }

            button {
                font-family: Manrope600;
                font-size: 14px;
                color: $colorBlack;
                opacity: 0.5;
                transition: .2s;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width: 894px) {
    .supHeader {
        &__content {
            ul {
                gap: 16px;
            }

            div {
                gap: 16px;
            }
        }
    }
}

@media (max-width: 864px) {
    .supHeader {
        display: none;
    }
}



.header {
    padding: 24px 0;
    background: white;
    position: sticky;
    z-index: 10;
    top: 0;
    transition: .2s;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 14px;

        .header__logo-side {
            padding-top: 4px;
            display: flex;
            align-items: center;
            gap: 20px;

            button {
                padding-bottom: 6px;
                display: none;
                flex-direction: column;
                align-items: end;
                gap: 5px;

                span {
                    height: 2px;
                    background: $colorBlack;
                }

                span:first-child {
                    width: 30px;
                }

                span:nth-child(2) {
                    width: 25.5px;
                }

                span:last-child {
                    width: 20px;
                }
            }

            ul {
                width: 100%;
                left: 0;
                right: 0;
                padding: 0 0 36px 0;
                background: white;
                position: absolute;
                top: 90px;
                display: none;
                align-items: center;
                flex-direction: column;

                a {
                    width: 100%;
                    font-family: Manrope500;
                    font-size: 16px;
                    opacity: 0.5;
                    line-height: 19.12px;
                    padding: 16px 0;
                    border-top: 2px solid #ECECEC;
                    display: flex;
                    justify-content: center;
                    transition: .2s;
                    color: #454545;

                    &:hover {
                        opacity: 1;
                    }

                }

                a.active {
                    opacity: 1;
                }

                a:nth-child(6) {
                    border-bottom: 2px solid #ECECEC;
                }

                div {
                    margin-top: 26px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    button {
                        width: 100%;
                        height: 50px;
                        border-radius: 100px;
                        background: #454545;
                        display: flex;
                        padding: 0;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        font-family: Manrope500;
                        font-size: 16px;
                        color: white;
                        margin-bottom: 30px;
                        transition: .2s;

                        &:hover {
                            opacity: .94;
                        }

                        svg {
                            font-size: 18px;
                        }
                    }

                    a {
                        padding: 0;
                        border: 0;
                        font-family: Manrope600;
                        font-size: 16px;
                        opacity: 1;
                        line-height: 19.12px;
                        color: #454545;
                        margin-bottom: 8px;
                    }

                    p {
                        font-family: Manrope500;
                        font-size: 15px;
                        color: #454545;
                        opacity: 0.5;
                        cursor: pointer;
                        transition: .2s;
                        user-select: none;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .header__category-btn {
            background: $colorBlack;
            border-radius: 100px;
            width: 153px;
            padding: 0 18px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 9px;
            color: white;
            font-family: Manrope600;
            font-size: 16px;
            transition: .2s;

            svg {
                font-size: 20px;
            }

            &:hover {
                opacity: .95;
            }

            &:active {
                scale: .98;
            }
        }

        label {
            max-width: 626px;
            width: 100%;
            position: relative;

            input {
                flex: 1;
                width: 100%;
                border: 1px solid #454545;
                border-radius: 100px;
                height: 50px;
                padding-left: 24px;
                padding-right: 60px;
                font-family: Manrope600;
                font-size: 16px;
                color: $colorBlack;
            }

            svg {
                position: absolute;
                font-size: 19px;
                top: 15px;
                right: 20px;
            }
        }

        .header__btns {
            display: flex;
            align-items: end;
            gap: 30px;

            button:first-child {
                sup {
                    right: 8px;
                }
            }

            button {
                display: flex;
                align-items: center;
                flex-direction: column;
                right: 6px;
                gap: 6px;
                position: relative;

                span {
                    font-family: Manrope600;
                    color: $colorBlack;
                    font-size: 12px;

                }

                sup {
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: -8px;
                    right: 0px;
                    background: #C63C3C;
                    color: white;
                    font-family: Manrope600;
                    font-size: 12px;
                    padding-bottom: 1px;
                    padding-right: 0.3px;

                }
            }

            button:first-child {
                img {
                    width: 21px;
                    height: 21px;
                }
            }

            button:nth-child(2) {
                img {
                    width: 20px;
                    height: 20px;
                }
            }

            button:last-child {
                img {
                    width: 23px;
                    height: 23px;
                }
            }
        }
    }
}

.searchedInput {
    border-radius: 12px 12px 0 0 !important;
}

.noSearchedInput {
    border-radius: 100px !important;
}

.search__value {
    max-height: 370px;
    overflow-x: auto;
    width: 100%;
    background: white;
    position: absolute;
    border: 1px solid #454545;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0 0 12px 12px;
    list-style: none;

    li {
        padding: 6px 12px;
        cursor: pointer;
        user-select: none;
        border-bottom: 1px solid #454545;
        display: flex;
        align-items: center;
        gap: 12px;

        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
    }

    li:last-child {
        border-radius: 0 0 12px 12px;
    }

}

.header.shrink {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px -10px;
}

@media (max-width: 972px) {
    .header {
        nav {
            .header__btns {
                gap: 16px;
            }
        }
    }
}

@media (max-width: 864px) {
    .header {
        nav {
            .header__logo-side {
                button {
                    display: flex;
                }

                ul {
                    display: flex;
                    box-shadow: 0 3px 5px #0002;
                    transition: .3s ease;
                    transform-origin: top;
                    transform: scaleY(0);

                    a {
                        &:hover {
                            color: rgb(75, 71, 71);
                        }
                    }
                }

                ul.show {
                    transform: scaleY(1);
                }
            }

            label {
                display: none;
            }

            .header__category-btn {
                display: none;
            }

            .header__btns {
                button:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 542px) {
    .header {
        nav {
            .header__logo-side {
                img {
                    width: 168px;
                }

                ul {
                    top: 80px;
                }
            }

            .header__btns {
                gap: 26px;

                button {

                    span {
                        display: none;
                    }
                }

                button:first-child {
                    sup {
                        top: -8px;
                        right: -10px;
                    }
                }

                button:last-child {
                    sup {
                        top: -6px;
                        right: -10px;
                    }
                }
            }
        }
    }
}